@{
    ViewBag.Title = "News list";
}
@model ArticlesList
<div>
    @foreach (var item in Model.Articles)
    {
        <hr />
        <h3>@item.Title</h3>
        <p>@item.TextPreview</p>
        <p>Author: @item.Author</p>
        <p>Date: @item.Date.ToString("MM/dd/yyyy | HH:mm")</p>
    }
</div>
<div>
    <hr/>
    <h4>
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i == Model.PageNumber)
            {
                @Convert.ToString(i);
            }
            else{ 
                @Html.ActionLink(Convert.ToString(i), "Index", new { itemsCount = Model.PageSize, page = i});
            }

        }


    </h4>
</div>
