﻿@model ArticleDetailsViewModel
@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
<div>
    <h4>Article Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        @if (Model.HasImage)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                <img src="@Model.Image" alt="Image" style="width:600px; height: auto;" />
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<p>
    @if (Model.CanEdit)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
    @Html.ActionLink("Back to List", "Index")
</p>
