﻿@model ArticleDetailsViewModel
@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
<div>
    <h4>Article Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        @if (Model.HasImage)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Image, new { htmlAttributes = new { style = "width: 350px; height: auto;" } })
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>

    <div>
        @Html.Partial("CreateCommentPartial", new CreateCommentViewModel { ArticleId = Model.Id })
        <dl class="dl-horizontal">
            @foreach (var comment in Model.Comments)
            {
                <hr />
                <dt>
                    @Html.DisplayNameFor(model => comment.Author)
                </dt>
                <dd>
                    @Html.DisplayFor(model => comment.Author)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => comment.Text)
                </dt>
                <dd>
                    @Html.DisplayFor(model => comment.Text)
                </dd>
                <p>
                @Html.ActionLink("Delete", "DeleteComment", new { id = comment.Id, articleId = Model.Id })
            </p>
            }
        </dl>
    </div>

<p>
    @if (Model.ControlsAvailable)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <text>|</text>
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) <text>|</text>
    }
    @Html.ActionLink("Back to List", "Index")
</p>

