﻿@model ArticlesListViewModel
@{
    ViewBag.Title = "News list";
}
<div>
    @foreach (var item in Model.Articles)
    {
        <hr />
        <h4>@Html.ActionLink(item.Title,"Details", new { id = item.Id })</h4>
        <p>@item.TextPreview</p>
        <p>@Html.DisplayNameFor(model => item.Author): @item.Author</p>
        <p>@Html.DisplayNameFor(model => item.Date): @item.Date</p>
    }
</div>
<div>
    <hr />
    <h4>
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i == Model.PageNumber)
            {
                @i.ToString()
            }
            else
            {
                @Html.ActionLink(Convert.ToString(i), "Index", new { itemsCount = Model.PageSize, page = i });
            }

        }


    </h4>
</div>
