@model ArticlesList

@{
    ViewBag.Title = "News list";
}

<div>
    @foreach (var item in Model.Articles)
    {
        <hr />
        <h3>@item.Title</h3>
        <p>@item.TextPreview</p>
        <p>@Html.DisplayNameFor(model => item.Author): @item.Author</p>
        <p>@Html.DisplayNameFor(model => item.Date): @item.Date</p>
    }
</div>
<div>
    <hr/>
    <h4>
        @if (Model.PrevAvailable == true)
        {
            @Html.ActionLink("Previous", "Index", new { itemsCount = Model.PageSize, page = Model.PageNumber - 1 });
        }
        @if (Model.NextAvailable == true)
        {
            @Html.ActionLink("Next", "Index", new { itemsCount = Model.PageSize, page = Model.PageNumber + 1 });
        }
    </h4>
</div>
